<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h3>Enter a comment:</h3>
<form action="#" th:action="@{/comment(movieId=${movieId})}" th:object="${commentDto}" method="post">
    <input type="hidden" th:field="${movieId}"/>
    <p>Text:            <input type="text" th:field="*{text}" /></p>
    <p>Author:          <input type="text" th:field="*{author}" /></p>
    <p>Score:           <input type="text" th:field="*{score}" /></p>
    <p><input type="submit" value="Submit" /></p>
</form>
</body>
</html>